<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <form method="POST" action="/new" >
    <label for="name">Name: </label>
    <input type="text" id="name" name = "name" required>
    <label for="message">Your Message: </label>
    <input type="text" id="message" name = "message" required>
    <button type="submit">Submit</button>
    </form>
</body>
</html>