<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="open-message-div">
      <p>User: <%= message.user %></p>
      <p>Message: "<%= message.text %>"</p>
      <p>Sent: <%= message.added %></p>
    </div>
    <a href="/">Home</a>
  </body>
</html>