body{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

form{
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-items: center;
    align-self: center;
    width: 600px;
}