body{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius:  10px;
    justify-self: center;
    padding: 1rem;
    margin: auto;
    align-items: center;
    width: 400px;
}

h1{
    text-align: center;
}

button{
    margin-left: 650px;
    margin-right: auto;
    background-color: black;
    height: 60px;
    width: auto;
}
a{
    text-decoration: none;
    color:aliceblue
}

.message{
    margin-left: 650px;
    margin-right: 650px;
    background-color: black;
    height: auto;
    width: 100px;
}